.aboutus__container {
	display: flex;
}

.aboutus__logo-first {
	background: url("../img/trees.png") center center / cover;
	width: 490px;
	height: 505px;
	margin-top: 145px;
}

.aboutus__logo-second {
	background-image: url("../img/mountains.png");
	width: 785px;
	height: 455px;
	margin-left: -135px;
	margin-top: 244px;
}

.tiltle--color-black {
	color: black;
	padding-top: 70px;
	padding-left: 81px;
}

.aboutus__content {
	margin-top: 37px;
	padding-left: 81px;
	margin-bottom: 61px;
	color: #060606;
	line-height: 1.65;
}

.aboutus__button {
	margin-left: 81px;
}