
.footer__container--section {
	margin-bottom: 57px;
	margin-top: 50px;
	border-top: solid #07222b 4px;
}

.footer__container {
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.logo__nav {
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.logo__nav--footer {
	margin-top: 15px;
}

.socials__list {
	display: flex;
	justify-content: space-between; 
	align-items: center;
	margin-top: 44px;
}

.socials__item {
	margin-right: 12px;
}

.socials__item:last-child {
	margin-right: 0px;
}

.socials__logo {
	opacity: 0.5;
	transition: .4s;
}

.socials__logo:hover {
	opacity: 1.0;
	transition: .4s;
}

.contact__text--small {
	color: #9A9A9A;
	font-size: 11px;
	margin-left: 87px;
}

.footer__phone {
	margin-left: 60px;
}




