.footer {
	margin-top: 48px;
	margin-bottom: 57px;
}

.footer__container {
	border-top: solid #07222b 4px;

}

.logo__nav {
	margin-top: 20px;
	vertical-align: bottom;
}

.socials__item {
	display: inline-block;
	margin-right: 7px;
}

.socials__item:last-child {
	margin-right: 0px;
}

.socials__list {
	margin-top: 30px;
	float: right;
}

.contact__text--small {
	color: #9A9A9A;
	font-size: 11px;
	margin-left: 87px;
}

.footer__phone {
	margin-left: 60px;
}




