.footer {
	margin-top: 102px;
}

.footer__container {
	border-top: solid #07222b 4px;

}

.logo__nav {
	margin-bottom: 65px;
	vertical-align: bottom;
}

.socials__item {
	display: inline-block;
	margin-right: 10px;
}

.socials__item:last-child {
	margin-right: 0px;
}

.socials__list {
	float: right;
	display: inline-block;
	margin-top: 30px;
}

.contact__text--small {
	color: #9A9A9A;
	font-size: 11px;
	margin-left: 112px;
}

.footer__phone {
	margin-left: 74px;
}




