
.header {
	height: 75px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__nav {
	display: flex;
}

.logo {
	margin-top: 29px;
	margin-right: 79px;
}

.logo__img {
	width: 85px;
	height: 36px;
}

.menu {
	margin-top: 30px;
}

.menu__list {
	display: flex;
}

.menu__item {
	margin-right: 55px;
}

.menu__item:last-child {
	margin-right: 0px;
}

.menu__item--active .menu__link {
	color: #da0100;
}

.menu__link {
	font-size: 14px;
}

.contact {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.contact__phone {
	font-size: 26px;
}

.info {
	margin-top: -10px;
	text-align: right;
}

.contact__info {
	font-size: 13px;
}

.dropdown {
	position: relative;
	display: inline-block;

	transition: 0.4s;
}

.figure {
	content: "";
	height: 20px;
	width: 20px;
	rotate: 45deg;
	background: #FFF;
	position: relative;
	left: 128px;
	top: 5px;
	background-color: #EDEDED;
	opacity: 0;
	
	transition: opacity .4s;
}

.dropdown__menu {
	position: absolute;
	background: #EDEDED;
	border: 1px solid unset;
	border-radius: 5px;
	padding: 15px 19px 15px 19px;
	width: 160px;
	top: 100%;
	
	opacity: 0;
	transition: opacity .4s;
	margin-top: -7px;
	margin-left: 33px;

}

.dropdown__menu::before {
	content: '';
	display: block;
	height: 30px;
	left: 0;
	right: 0;
	top: -29px;
	position: absolute;

}

.dropdown:hover .figure {
	display: block;
	left: 128px;
	opacity: 1;
	transition: 0.4s;
}

.dropdown:hover .dropdown__menu {
	display: block;
	left: 0;
	opacity: 1;
	transition: 0.4s;
}

.dropdown__text {
	color: #1E1F20;
	font-size: 13px;
}

