
.header {
	height: 75px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__nav {
	display: flex;
}

.logo {
	margin-top: 29px;
	margin-right: 79px;
}

.logo__img {
	width: 85px;
	height: 36px;
}

.menu {
	margin-top: 30px;
}

.menu__list {
	display: flex;
}

.menu__item {
	margin-right: 55px;
}

.menu__item:last-child {
	margin-right: 0px;
}

.menu__item--active .menu__link {
	color: #da0100;
}

.menu__link {
	font-size: 14px;
}

.contact {
	margin-top: 27px;
	display: flex;
	flex-direction: column;
}

.contact__phone {
	font-size: 26px;
}

.info {
	margin-top: -5px;
	text-align: right;
}

.contact__info {
	font-size: 13px;
}