.hello {
	margin-top: 120px;
}

.hello__container {
	display: flex;
	flex-direction: column;
}

.hello__tiltle {
	font-size: 72px;
	font-weight: 700;
}

.hello__subtiltle {
	margin-top: 20px;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 30px;
}

.button {
	font-size: 14px;
	width: 168px;
	height: 55px;
	border-radius: 35px;
	background: #F5170E;
	padding: 18px 44px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 700;
}

.button:hover {
	background: #DA0100;
	transition: .3s;
}