.offers {
	margin-top: 264px;
}

.tiltles {
	display: inline;
	position: relative;
}

.tiltle {
	font-size: 36px;
	font-weight: 700;
}

.tiltle--logo {
	background-repeat: no-repeat;
	width: 21px;
	height: 28px;
	margin-left: 50px;
	position: absolute;
	left: 230px;
	top: 14px;
}

.offers__list {
	margin-top: 51px;
}

.offers__item {
	display: inline-block;
	margin-right: 23px;
}

.offers__item:last-child {
	margin-right: 0px;
}

.offers__img {
	width: 362px;
	height: 144px;	
}

.offers__feature {
	background-color: #fff;
	width: 362px;
	height: 305px;
}

.offers__tiltle {
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	padding-top: 33px;
	margin-left: 21px;
}

.offers__feature--text {
	color: #666666;
	font-size: 18px;
	margin-right: 2px;
}

.offers__feature--icon {
	margin-right: 0px;
	box-sizing: border-box;
	margin-right: 10px;
}

.offers__feature--item {
	display: -webkit-inline-box;
	margin-top: 18px;
	margin-left: 21px;
}

.offers__text {
	color: #666666;
	font-size: 14px;
	margin-top: 2px;
}

.offers__feature--btn {
	margin-top: 40px;
	margin-left: 21px;
}

.btn--light{
	width: 168px;
	height: 55px;
	border-radius: 35px;
	background: #fff;
	padding: 18px 25px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 700;
	color: #F5170E;
	border: 1px solid #F5170E;
}

.btn--light:hover {
	background: #F5170E;
	color: #fff;
	border: 1px solid #F5170E;
}



