.offers {
	margin-top: 244px;
}

.tiltles {
	display: flex;
}

.tiltle {
	font-size: 36px;
	font-weight: 700;
}

.tiltle--logo {
	background-repeat: no-repeat;
	width: 21px;
	height: 28px;
	margin-top: 15px;
	margin-left: 10px;
}

.offers__list {
	margin-top: 51px;
	display: flex;
	justify-content: space-between;
}

.offers__item {
	display: flex;
	flex-direction: column;
	margin-right: 23px;
}

.offers__item:last-child {
	margin-right: 0px;
}

.offers__img {
	width: 362px;
	height: 144px;	
}

.offers__feature {
	background-color: #fff;
	width: 362px;
	height: 305px;
}

.offers__tiltle {
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	margin-top: 33px;
	margin-left: 21px;
}

.offers__feature--text {
	color: #666666;
	margin-right: 35px;
}

.offers__feature--text:last-child {
	margin-right: 0px;
}

.offers__feature--icon {
	margin-right: 0px;
	box-sizing: border-box;
	margin-right: 10px;
}

.offers__feature--item {
	display: flex;
	margin-top: 18px;
	margin-left: 21px;
}

.offers__text {
	color: #666666;
	font-size: 14px;
	margin-top: 7px;
}

.offers__feature--button {
	margin-top: 44px;
	margin-left: 25px;
}

.button--light{
	width: 168px;
	height: 55px;
	border-radius: 35px;
	background: #fff;
	padding: 18px 28px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 700;
	color: #F5170E;
	border: 1px solid #F5170E;
}

.button--light:hover {
	background: #F5170E;
	color: #fff;
	border: 1px solid #F5170E;
	transition: .3s;
}



